<div class="container">
  <h1>all services</h1>
  <% @services.each do |service| %>
    <ul>
    <li><%= service.name %></li>
    <li><%= service.price %></li>
    <li><%= service.start_time %></li>
    </ul>
  <% end %>
</div>
