<div class="container">
  <h1>Next Available Appointments for <%= @service.name %></h1>
  <% @dayslots.each do |dayslot|%>
    <%= dayslot.date.strftime("%B %d, %Y") %>
    <br>
    <% dayslot.slots.each do |timeslot| %>
      <%= link_to "#{timeslot}:00", new_service_booking_path(@service, date: dayslot.date, timeslot: timeslot), class: "btn btn-primary m-2" %>
    <% end %>
    <br>
  <% end %>
</div>
