<div class="container">
  <div class="container-portfolio">
    <%= link_to "Back", user_path(@service.user), class: "btn-back" %>
  </div>
  <h1>Choose Date & Time for your <%= @service.name %></h1>
  <div class="container-card-bookings col-X">
    <% @dayslots.each do |dayslot|%>
      <div class="card-bookings">
        <h2><%= dayslot.date.strftime("%B %d, %Y") %></h2>

        <div class="button-container">
        <% dayslot.slots.each do |timeslot| %>
        <%= link_to "#{timeslot}:00", new_service_booking_path(@service, date: dayslot.date, timeslot: timeslot), style: "text-decoration: none;", class: "time-button" %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
