<div class="container">
  <h1>Next Available Appointments for <%= @service.name %></h1>
  <% if @service.photo.attached? %>
    <%= cl_image_tag @service.photo.key, height: 150, width: 1000, crop: :fill %>
  <% end %>
  <br>
  <% @dayslots.each do |dayslot|%>
    <%= dayslot.date.strftime("%B %d, %Y") %>
    <br>
    <% dayslot.slots.each do |timeslot| %>
      <%= link_to "#{timeslot}:00", new_service_booking_path(@service, date: dayslot.date, timeslot: timeslot), class: "btn btn-dark dark-button m-2" %>
    <% end %>
    <br>
  <% end %>
</div>
