<div class="container">
<%= simple_form_for @booking do |f| %>
    <ul>
        <li>
          <%= f.input :start_date_time, label: @booking.start_date_time %>
        </li>
    </ul>
    <%= f.button :submit, 'Save' %>
    <% end %>
</div>
