<div class="container">
  <%= simple_form_for @booking do |f| %>

    <%= f.input :date, label: "Date" %>
    <%= f.input :start_hour, label: "Start Hour" %>
    <%= f.button :submit, 'Save' %>
  <% end %>
</div>
