<div class="container">
  <h1>Create a Booking</h1>
  <%= simple_form_for([@service, @booking]) do |f| %>
      <ul>
          <li>
            <%= f.input :service_id, collection: Service.all %>
            <%= f.input :start_date_time %>
          </li>
      </ul>
      <%= f.button :submit, 'Save' %>
      <% end %>
</div>
