<div class="container">
  <h1>Providers</h1>
  <ul>
    <% @user.each do |user| %>
    <% if user.services.any? %>
      <li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></li>
    <% end %>


  <% end %>
  </ul>

    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
