<div class="container">
  <div class="hero d-flex justify-content-center align-items-center text-center" id="background-image-home">
    <div>
      <h1 class="my-4 py-4 text-white"><strong>Mastercraft</strong></h1>
      <h3 class="my-4 text-white">Find your favorite professional</h3>
      <%# <div class="d-flex justify-content-center mt-4"> %>
        <%= link_to "Explore", users_path, class: "btn-home" %>
      <%# </div> %>
    </div>
  </div>
  <br>

  <div class="locations">
    <h2 class="text-left mb-4">Discover Professionals</h2>
    <p>Discover your next favorite service with ease. Simplify your life, enrich your style. </p>
  </div>

  <div class="listing-property">
      <h2 class="my-4">List Your Services</h2>
      <p>The simplest way to manage your schedule. The strongest way to build your brand. Booking and communication, simplified. </p>
  </div>

  <div div id="background-image-list">
  </div>
  <br>
</div>
