#background-image-home {
  background-image: linear-gradient(45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.6)),
  url('https://img.freepik.com/premium-photo/haircut-tool-man-s-tattoo-hands_212862-183.jpg');
  background-size: cover; /* Cover the entire div */
  background-position: center bottom; /* Center the background image */
  height: 500px; /* Set a specific height */
  width: 100%; /* Make the div take up the full width */

}

#background-image-list {
  background-image: url('https://t4.ftcdn.net/jpg/02/62/72/25/360_F_262722534_B6eVqHqqTBQ19Z2b13HSv4pkMDdxD8qF.jpg');
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  height: 500px; /* Set a specific height */
  width: 100%; /* Make the div take up the full width */
}

.container ul{
  list-style-type: none;
  padding: 0;
}

.container{
  padding-top: 40px;
}

.container-plus .d-flex {
  position: relative;
}

.container-plus .d-flex a {
  position: absolute;
  top: 110px;
  right: 10px;
}

.title-container{
  text-align: center;
}

.container-portfolio {
  margin: 16px;
  display: flex;
  align-items: center;
}

.portfolio{
  margin: 8px;
  width: 100%;
}

.portfolio img {
  width: 100%;
}
