.dark-button {
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  padding: 8px;
}

.gray-button {
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: $dark-gray;
  color: white;
}

.white-button {
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
}

.btn-danger {
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
}
