.dark-button {
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 8px;
}

.gray-button {
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: $dark-gray;
  color: white;
}

.white-button {
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
}

.btn-danger {
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
}

.btn-home {
  text-decoration: none;
  border: solid white;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  transition: border-width 0.3s ease;
}

.btn-portfolio {
  text-decoration: none;
  border: solid rgb(50, 50, 50);
  font-family: 'Montserrat', sans-serif;
  color: rgb(50, 50, 50);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  transition: border-width 0.3s ease;
}

.btn-back {
  width: 100%;
  text-decoration: none;
  border: solid rgb(50, 50, 50);
  font-family: 'Montserrat', sans-serif;
  color: rgb(50, 50, 50);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  transition: border-width 0.3s ease;
  text-align: center;
}
