.card-services {
  width: 100%;
  overflow: hidden;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 8px;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-services:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.card-services .btn-delete {
  position: absolute;
  top: 28px;
  right: 10px;
}

.btn-chat {
  position: absolute;
  top: 28px;
  right: 80px;
  color: green;
}

.card-services p {
  padding-left: 8px;
}
.card-services > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
}
.card-services h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-services p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-services .card-trip-infos {
  padding: 8px;
  align-items: flex-start;
}
.container-card {
  display: flex;
  width: 100%;
  justify-content:center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 8px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 24px;
}

.bookings-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between cards as needed */
}
