.card-trip {
  width: 100%;
  overflow: hidden;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 8px;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}

.card-trip:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.btn-delete {
  position: absolute;
  top: 24px;
  right: 10px;
}

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
//   margin-bottom: 8px;
// }

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.card-trip-infos {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.container-card {
  display: flex;
  width: 100%;
  justify-content:center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 8px;
}

.container-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin-bottom: 24px;
}

.bookings-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between cards as needed */
}

.light-gray-background {
  background-color: $light-gray; /* Light gray color */
  border-radius: 20px;
}

.dark-gray-background {
  background-color: $dark-gray; /* Light gray color */
  border-radius: 20px;
}

.white-background {
  background-color: $white; /* Light gray color */
  border-radius: 20px;
  color: black;
}


.user-info {
  display: flex;
  align-items: center;
}

.user-avatar, .user-details {
  margin-right: 10px; /* Add some space between the avatar and the details */
}

.user-details {
  flex-grow: 1; /* Allows the details section to take up the remaining space */
  min-width: 0; /* Prevents the flex item from growing beyond its allocated space */
}
