.container-card-bookings {
  display: block;
  justify-content: center;
  padding: 8px;
}

.card-bookings {
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  background-color: #DDDD;
  position: relative;
}

.card-bookings .chat-btn {
  position: absolute;
  top: 20px;
  right: 10px;
}

.card-bookings h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.card-bookings h3 {
  margin-top: 8px;
  text-align: center;
  font-weight: bolder;
}

.card-bookings h4 {
  text-align: center;
}

.card-bookings p {
  font-size: 18px;
  text-align: center;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
}

.time-button {
  background-color: black;
  border-radius: 16px;
  color: white;
  text-align: center;
}
