.form-input, .form-input:focus {
  background-color: $light-gray; /* Dark grey background */
  border: 1px solid #ccc; /* Light grey border */
  color: black; /* Dark grey text */
  border-radius: 16px;
}

/* Style for focusing on input */
.form-input:focus {
  border-color: #007bff; /* Bootstrap primary blue for focus */
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#message_content {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.btn.btn-dark.mb-3 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
