.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: 0;
  text-align: center;
  background-color: white;
  font-size: 24px;
}
